body{
    background: #063e00da;
}

.dialog {
    display: none;
    background-color: #808080;
    width: 600px;
    position: fixed;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);

    header {
        height: 55px;
        background: #000000;

        .title {
            font-size: 20px;
            float: left;
            color: forestgreen;
            margin: 15px 0 0 15px;
        }

        .btn-close {
            float: right;
            margin: 5px 10px 0 0;
            color: #808080;
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    main {
        font-family: 'Comic Sans MS';
        clear: both;
        background: #808080;
        color: #063e00da;
        font-size: 20px;
        margin: 15px;

        img {
            width: 300px;
        }
    }

    footer{
        margin-top: 25px;

        hr{
            border: 1px #000000 solid;
        }

        .buttons{
            float: right;
            height: 30px;
            margin: 10px;

            a{
                font-family: 'Lucida Console';
                border: 1px #000000 solid;
                padding: 5px 10px;
                text-decoration: none;
                color: forestgreen;
                border-radius: 5px;
                margin:3px;
            }

            .danger{
                color: #ffffff;
                background-color: #000000;

            }

            a:hover{
                margin:1px;
                border-radius: 0px;
                padding: 7px 12px;
            }
        }
    }
}
